.contentTodo {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  .contentboxUno,
  .contentboxDos,
  .contentboxTres {
    flex-basis: 30%;
    padding: 25px;
    background-color: rgba(65, 115, 142, 0.502);
    border-radius: 30px;
    margin-left: 10px;
    margin-right: 10px;
  }

.contentboxUno:hover,
.contentboxDos:hover,
.contentboxTres:hover {
  animation: vibrate 0.3s infinite;
}

@keyframes vibrate {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(5px);
  }

  50% {
    transform: translateX(0);
  }

  75% {
    transform: translateX(5px);
  }

  100% {
    transform: translateX(0);
  }
}

@media (max-width: 768px) {

  .textContainerTres {
    margin: 10px auto;
  }
  .content__total{
    margin-right: 0px;
  }
}
@media(max-width: 400px){
.contentTodo {
  margin: auto;
  width: 360px;
  height: 800px;

  display: flex;
  flex-direction: column;
  gap: 50px;

  justify-content: center;
}
.grow1 { flex-grow: 1; }
}