.contentTodo {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  .contentboxUno,
  .contentboxDos,
  .contentboxTres {
    flex-basis: 30%;
    padding: 25px;
    background-color: rgb(65, 115, 142, 0.5);
    border-radius: 30px;
    margin-left: 10px;
    margin-right: 10px;
  }

.contentboxUno:hover,
.contentboxDos:hover,
.contentboxTres:hover {
  animation: vibrate 0.3s infinite;
}

@keyframes vibrate {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(5px);
  }

  50% {
    transform: translateX(0);
  }

  75% {
    transform: translateX(5px);
  }

  100% {
    transform: translateX(0);
  }
}
