main {
    padding: 0px;
    text-align: center;
  
    h1 {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 30px;
      letter-spacing: 4.4px;
      word-spacing: 1.2px;
      font-weight: 700;
      text-decoration: none;
      margin-top: 10px;
      margin: auto;
      text-shadow: -3px 5px 3px rgba(0, 0, 0, 0.2);
      @extend %brushstroke 
    }
    
    .carousel-inner {
      margin-top: 20px;
      width: 100%;
      height: 500px;
      -o-object-fit: cover;
      object-fit: cover;
      transition-duration: 3s;
    }
}
@media(max-width: 390px){
  .carousel-control-prev-icon{
  margin-bottom: 200px;
}
.carousel-control-next-icon{
  margin-bottom: 200px;
  background-color: transparent;
  color: #000000;
}
}