
    .textContainerDos {
      border: 3px solid #3380aa;
      border-radius: 15px;
      padding: 30px;
      margin: auto;
      width: 700px;
    }
  
    .textContainerTres {
      border: 3px solid #3380aa;      
      border-radius: 15px;
      width: 500px;
      padding: 30px;
      margin-top: 250px;
      margin-bottom: 100px;
      margin-left: 800px;
    }
  
  .imgPincel {
    width: 600px;
    margin-top: -30%;
    margin-right: 52%;
    border-radius: 15px; 
  }
  @media (max-width: 390px) {
  .textContainerDos {
    margin-top: 40px;
    width: 350px;
    padding: 30px;
  }
  .textContainerTres{
    margin:auto;
    margin-top: 20px;
    width: 350px;
  }
  .imgPincel{
    margin: auto;
    margin-top: 40px;
    width: 380px;
  }
  }
  
  
    
  
