.contentTittleNos {
    margin-left: 45px;
    margin-bottom: 15px;
    background: radial-gradient(circle, rgb(194, 180, 180) 0%, rgb(255, 255, 255) 64%);
  }

  .contentFotoNosotros {
    border-radius: 10px;
  }
  .contentTextNosotros {
    width: 300px;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(65,115,142,1) 0%, rgba(255,255,255,1) 70%);
    margin-top: 50px;
    margin-bottom: 20px;
  }

  .manosytorno{ 
    height: 600px;
    width: 600px;
    border-radius: 15px;
    }
  