/* Estilos de secciones principales CONTACTO */

.contentPartUno__contacto {
    text-align: center;
    padding: 40px;
    margin: auto;
  
    .titulo__contactoUno {
      font-size: 30px;
      color: rgb(10, 10, 10);
      margin-top: 20px;
      margin-bottom: 30px;
      @extend %brushstroke 
    }
  
    .textUno__contacto {
      font-size: 16px;
      color: rgb(10, 10, 10);
    }
  }
  .ubicacionTituloDos__contacto {
    margin-bottom: 40px;
    padding: 10px;
    @extend %brushstroke 
  }