.contentTittleNos {
margin: auto;   
margin-bottom: 15px;
@extend %brushstroke 
}

  .contentFotoNosotros {
    border-radius: 10px;
  }
  .contentTextNosotros {
    width: 500px;
    border: 3px solid #3380aa;
    border-radius: 15px;
    padding: 30px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .manosytorno{ 
    margin: auto;
    height: 600px;
    width: 600px;
    border-radius: 15px;
    }
  