.contentImgIconos {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-right: 10px;
  }

  .fb {
    width: 30px;
    margin: 20px;
  }

  .ig {
    width: 30px;
  }

  @media (max-width: 768px) {
    .logoKeramikeUno{
    margin-right: 65px;
    }
    .contentListDeso {
      display: none;
    } 
    .contentImgIconos {
      display: none;
    }
  }